.App {
  text-align: center;
}

.logo{
  width: 2%;
  height: 2%;
}

.congress-grid-container{
  margin: 2em;
  margin-left: 8em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em; 
  height: 400px;
  width: 85%;
  padding: 0.8em;
  overflow: scroll;
}

.state-grid-container{
  margin: 2em;
  margin-left: 21em;
  display: grid;
  width: 1000px;
  height: 500px;
  overflow:scroll;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em; 
}

.user-grid-container{
  margin: 2em;
  display: grid;
  grid-gap: 2em;
}

.grid-item{
  padding: 0.5em;
  border: 3px solid gold;
  width: 260px;
  height: 175px;
}

.user-grid-item{ 
  padding: 0.5em;
  border: 3px solid gold;
}

.D{
  background-color: rgba(0, 0, 255, .3);
  transition: all 0.5s;
}

.D:hover{
  background-color: rgba(0, 0, 255, .6);
  transform: scale(1.05);
}

.R{
  background-color: rgba(255, 0, 0,.3);
  transition: all 0.5s;
}

.R:hover{
  background-color: rgba(255,0,0, .6);
  transform: scale(1.05);
}

.voter-positive{
  color: green
}
.voter-negative{
  color: red
}

.loader {
  margin: 2em;
  border: 7px solid rgba(0,0,255);
  border-top: 7px solid rgba(255,0,0);
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}