.App {
  text-align: center;
}

.congress-grid-container{
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2em; 
}

.state-grid-container{
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em; 
}

.user-grid-container{
  margin: 2em;
  align-items: center;
}

.grid-item{
  padding: 0.5em;
  border: 3px solid gold;
}

.user-grid-item{ 
  margin: 0.75em;
  padding: 0.5em;
  border: 3px solid gold;
}

.D{
  background-color: rgba(0, 0, 255, .3);
  transition: all 0.5s;
}

.D:hover{
  background-color: rgba(0, 0, 255, .6);
  transform: scale(1.2);
}

.R{
  background-color: rgba(255, 0, 0,.3);
  transition: all 0.5s;
}

.R:hover{
  background-color: rgba(255,0,0, .6);
  transform: scale(1.2);
}

.voter-positive{
  color: green
}
.voter-negative{
  color: red
}